<launch>
  <arg name="output_prefix" default="mycobot" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg name="camera_ns" default="camera" />

  <!-- compress flag-->
  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <!-- rosbag -->
  <node name="baxter_rosbag_record" pkg="rosbag" type="record"
        args="/rosout
              /joint_states
              /tf
              /tf_static
              /$(arg camera_ns)/rgb/image_rect_color/compressed
              /$(arg camera_ns)/rgb/camera_info
              /$(arg camera_ns)/depth_registered/image_raw/compressedDepth
              /$(arg camera_ns)/depth_registered/camera_info
              -q $(arg compress_flag) -b 0
              --output-prefix $(arg output_prefix)"
        output="screen" />
</launch>
